.box {
    width: 200px;
    height: 200px;
}
#key {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}